terratowns_endpoint="https://terratowns.cloud/api"
baklava = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/baklava"
  content_version = 1 
}
daffodils = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/daffodils"
  content_version = 2
}
kunafah = {
  public_path = "/workspace/terraform-beginner-bootcamp-2023/public/kunafah"
  content_version = 1 
}