user_uuid="921ba9f8-e37f-40f0-8224-d188f9e9a767"
bucket_name="tf-static-website-bucket"
index_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath="/workspace/terraform-beginner-bootcamp-2023/public/error.html"